.root {
    border: 1px solid gray;
    border-radius: 8px;
    width: calc(100% * (var(--gap) * 2));

    margin: var(--gap);
    padding: var(--gap) var(--gap) 0 var(--gap);
}

.content {
    flex: 1
}

@media (min-width: 1000px) {
    .root {
        display: flex;
    }

    .aside {
        width: 30%;
    }
}