.header {
    background: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap);
}

.header button {
    margin: 0;
}

.header__actions {
    display: flex;
    gap: var(--gap);
}

.button {
    margin-bottom: 0;
}