:root {
    --gap: 20px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root,
html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: var(--gap);
}

button {
    cursor: pointer;
}

section {
    padding: var(--gap);
    border-top: 1px solid darkgray;
}
